<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896368057938-32ot99pv3gbf53n48e17hdbpcc349n8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896368057938-32ot99pv3gbf53n48e17hdbpcc349n8r</string>
	<key>API_KEY</key>
	<string>AIzaSyAmawYMiVhVpvZvfOJ2RBL3T8NX4pqVkT4</string>
	<key>GCM_SENDER_ID</key>
	<string>896368057938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nodetraversal.FlightDashboard</string>
	<key>PROJECT_ID</key>
	<string>flightdashboard-200e1</string>
	<key>STORAGE_BUCKET</key>
	<string>flightdashboard-200e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896368057938:ios:9a4a6f4f630ef6d047098b</string>
</dict>
</plist>