<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATADOG_APP_ID</key>
	<string>${DATADOG_APP_ID}</string>
	<key>DATADOG_CLIENT_ID</key>
	<string>${DATADOG_CLIENT_ID}</string>
	<key>FLIGHT_AWARE_API_KEY</key>
	<string>${FLIGHT_AWARE_API_KEY}</string>
	<key>FLIGHT_DASHBOARD_APP_GROUP</key>
	<string>group.io.nodetraversal</string>
	<key>LOGGER_FINE_ENABLED</key>
	<string>${LOGGER_FINE_ENABLED}</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
